.pt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    .box {
        position: relative;
    flex: 90% 0 0;
    max-width: 680px;
    border-radius: rem(15);
    //background-color: white;
    color: #fff;
    background-color: #000;
    @media only screen and (max-width:$ta2) {
         width: 100%;
        }
    }
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 8rem;
    @media only screen and (max-width:$ta2) {
        font-size: 4rem;
       }
}
.hov{
.colm {
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: rem(15);
    transition: 0.5s;
    @media only screen and (max-width:$ta2) {
       }
    img{
        border-radius: rem(15);
        background-color: black;
        background-blend-mode: multiply;
        margin: 10px;
        width: 100px;
        height: 100px;
    }
    .imgtxt{
        color: #fff;
        margin: 10px;
    }
}
:hover{
    background-color: #fff;
   .imgtxt{ color: #000;}
}

}
a {
    color: #000;
    text-decoration: none;
  }
  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
