.tem {
direction: rtl;
margin: 5px;


}
.titlete{
    display: flex;
    justify-content:right;
    font-size: 1.6rem;
    margin: 5px;
    direction: rtl;
}
.img{
    border-radius: rem(15);
    width: 670px;
    height: 360px;
    margin: 2px 5px;
}
.textlog{
margin: 10px 10px;
}