* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #565656;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
body::before {
  content: "";
  display: block;
  height: 5rem;
}

nav, .nav {
  position: relative;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.0431372549);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}
@media only screen and (max-width: 1194px) {
  nav, .nav {
    display: grid;
    justify-content: center;
    width: 100%;
  }
}
nav-l, .nav-l {
  flex: 25% 0 0;
  max-width: 360px;
}
@media only screen and (max-width: 1194px) {
  nav-l, .nav-l {
    display: none;
  }
}
nav-m, .nav-m {
  flex: 50% 0 0;
  max-width: 680px;
}
nav-r, .nav-r {
  flex: 25% 0 0;
  max-width: 360px;
}
nav .inputbox, .nav .inputbox {
  justify-content: space-around;
  align-items: center;
}
nav .inputbox label, .nav .inputbox label {
  width: 100%;
}
nav .inputbox input, .nav .inputbox input {
  border: none;
  height: 2.5rem;
  border-radius: 1.25rem;
  padding: 1.25rem;
  background-color: #353535;
  width: inherit;
  font-size: 0.9375rem;
  gap: 10px;
}
nav .technonewslogo, .nav .technonewslogo {
  justify-content: space-around;
  align-items: center;
}
nav .ti, .nav .ti {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
nav .ti .active, .nav .ti .active {
  color: white;
  background-color: #197ef9;
}
nav .ti-si, .nav .ti-si {
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 2.5rem;
  height: 2.5rem;
  transition: 0.5s;
  border-radius: 50%;
  color: #000;
}
nav .ti-si h6, .nav .ti-si h6 {
  display: none;
}

.ti-si:hover {
  background-color: #f9f9f9;
  color: #000;
  border-radius: 15px;
  width: 4.375rem;
}
.ti-si:hover h6 {
  display: block;
}

.pt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.pt .box {
  position: relative;
  flex: 90% 0 0;
  max-width: 680px;
  border-radius: 0.9375rem;
  color: #fff;
  background-color: #000;
}
@media only screen and (max-width: 697px) {
  .pt .box {
    width: 100%;
  }
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: 8rem;
}
@media only screen and (max-width: 697px) {
  h1 {
    font-size: 4rem;
  }
}

.hov .colm {
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 0.9375rem;
  transition: 0.5s;
}
.hov .colm img {
  border-radius: 0.9375rem;
  background-color: black;
  background-blend-mode: multiply;
  margin: 10px;
  width: 100px;
  height: 100px;
}
.hov .colm .imgtxt {
  color: #fff;
  margin: 10px;
}
.hov :hover {
  background-color: #fff;
}
.hov :hover .imgtxt {
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.tem {
  direction: rtl;
  margin: 5px;
}

.titlete {
  display: flex;
  justify-content: right;
  font-size: 1.6rem;
  margin: 5px;
  direction: rtl;
}

.img {
  border-radius: 0.9375rem;
  width: 90%;
  height: auto;
  margin: 2px 5px;
}

.textlog {
  margin: 10px 10px;
}

.list-v {
  display: flex;
}
@media screen and (max-width: 536px) {
  .list-v {
    display: grid;
  }
}
.list-v .op {
  margin: 25px;
  background-color: #0d0d0d;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
}
.list-v .op:hover {
  background-color: #fff;
  color: #000;
}
.list-v .hj {
  width: 100px;
  height: 100px;
}

.vbox {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7490196078);
}/*# sourceMappingURL=sylt.css.map */