/* .htc{
height: 90vh;
//padding: 5px;
display: flex;
justify-content: center;
align-items: center;
direction: rtl;
@media only screen and (max-width:1017px) {
    flex-direction: column;
    height: 260vh;
    width: 100%;
         }
@media only screen and (max-width:669px) {
    height: 390vh;
         }
.wed-home{
    flex: 50%;
    width: 530px;
    height: 530px;
    margin: 15px;
    @media only screen and (max-width:1017px) {
        flex: 100%;
        height: 50%;
        width: 100%;
             }
    @media only screen and (max-width:669px) {
        height: 15%;
             }
    @media only screen and (max-width:343px) {
        height: 10%;
             }
.wed-home-i {
        height: 90%;
        background-image: url('../../access/img/wedhome.svg');    
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
        padding: rem(10);
        //margin: 10px 0;
        transition: 0.5s;
        border-radius: rem(10) ;
        //box-shadow: 0 2px 2px #00021020;
        box-shadow: 0 -3px 8px #ffffff;
        //background-color: #00000080;
        background-blend-mode: multiply;
        border: 1px solid #fff;
        
        }
        /*@media only screen and (max-width:$ta2) {
        min-height: rem(50);
        max-width: rem(402);
          }
          &-txt{
            direction: rtl;
            padding: 2px;
            height: 10%;
            color: rgb(255, 255, 255);
            font-size: 1.5rem;
            font-weight: 500;
            text-shadow: 1px 1px 1px #0000008b;
}
}
.wed{
    position: relative;
    flex: 50%;
   // padding:7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    @media only screen and (max-width:1017px) {
        flex: 100%;
        height: 50%;
        width: 100%;
             }
    @media only screen and (max-width:669px) {
        flex-direction: column;
        height: 85%;
             }
    @media only screen and (max-width:343px) {
        flex-direction: column;
        height: 90%;
             }
.vp{
    flex: 50%;
    height: 100%;
  //  padding: 2px;
  //  margin: 2px;
    //margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //gap: 10px;
    //padding: 20px;
    @media only screen and (max-width:343px) {
        height: 25%;
             }
    .wed-s{
        direction: rtl;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
      //  margin-bottom: 50px;
        height: 50%;
        //width: 100%;
    
    .wed-scod{
        width: 250px;
        height: 250px;
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 10px;
        padding: 50%;
        margin: 10px;
        border-radius: rem(10) ;
        //box-shadow: 0 2px 2px #00021020;
        box-shadow: 0 -3px 8px #ffffff;
        //background-color: #00000080;
        transition: 0.5s;
        background-blend-mode: multiply;
            &.wed-scod1 {background-image: url('../../access/img/wed1.svg');}
            &.wed-scod2 {background-image: url('../../access/img/wed2.svg');}
            &.wed-scod3 {background-image: url('../../access/img/wed3.svg');}
            &.wed-scod4 {background-image: url('../../access/img/wed4.svg');}
            &.wed-scod5 {background-image: url('../../access/img/wed5.svg');display: none;}
            &.wed-scod6 {background-image: url('../../access/img/wed6.svg');display: none;}
            @media only screen and (max-width:1017px) {
            height: rem(300);
            width: rem(320);
                         }
            @media only screen and (max-width:389px) {
            height: rem(300);
            width: 100%;
                         }
            
        
                         .wed-scod-txt{
                            padding: 10px;
                            color: #fff;
                            font-size:0.8rem;
                            font-weight: 500;
                            text-shadow: 1px 1px 1px #0000008b;
                        }                  

        
    }}}}
} */
.htc{
    position: relative;
    width: 83vw;
    background: #ffc6e7;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    .wed-home{
        flex: 50%;
        height: 55vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background: linear-gradient(to top,#000000,#0000004d);
        border-radius: 15px;
        border: 1px solid #0000004d;
        img{
            opacity: 50%;
            height: 100%;
            width: 100vh;
         }
         &-txt{
             position: absolute;
             z-index: 2000;
             margin: 3px;
         }


    }
    .wed{
        flex: 50%;
        display: flex;
        height: 55vh;
        overflow-y: hidden;
        .vp{
            height: 55vh;
            flex: 50%;
            background: #ff0000;
            .wed-scod{
                height: 27.5vh;
                width: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background: linear-gradient(to top,#000000,#0000004d);
                border-radius: 15px;
                border: 1px solid #0000004d;
                img{
                   height: 100%;
                   width: 100%;
                   z-index: 0;
                   opacity: 80%;
                }
                &-txt{
                    position: absolute;
                    z-index: 1000;
                    margin: 3px;
                }
            }
        }
    }
}

.cad{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    .wed-cod{
        background-image: url('../../access/img/wedcod.svg');
        width: rem(100);
        height: rem(100);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
        padding: rem(10);
        margin: 10px 0;
        border-radius: rem(10);
        box-shadow: 0 2px 2px #00000020;
        background-color: #00000080;
        background-blend-mode: multiply;
        margin: 5px 10px;
        
        &-txt {
            color: #ffffff;
            font-size: 1rem;
            font-weight: 500;
           // text-shadow: 1px 1px 1px #0000008b;
        }
    }
}
.titl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
    font-size: 2rem
}
.fid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    @media only screen and (max-width:565px) {
        flex-direction: column;
             }
    .fir{
        flex: 50%;
    .fi{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 0px;
        border-radius: rem(10);
        margin: 10px;
        transition: 0.5s;
        .fi-d {
            width: rem(160);
            height: rem(100);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 200px;
            padding: rem(10);
            border-radius: rem(10);
            box-shadow: 0 2px 2px #00000020;
           background-color: #00000080;
           background-blend-mode: multiply;
           margin: 5px 10px;
           
           
            
            &-txt{
                color: #fff;
                
            }
            &.fi1 {background-image: url('../../access/img/fi1.svg');}
            &.fi2 {background-image: url('../../access/img/fi2.svg');}
            &.fi3 {background-image: url('../../access/img/fi3.svg');}
            &.fi4 {background-image: url('../../access/img/fi4.svg');}
            &.fi5 {background-image: url('../../access/img/fi5.svg');}
        }
        
       
    
    }}
}
.nes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    @media only screen and (max-width:565px) {
        flex-direction: column;
             }
    .ner{
        flex: 50%;
    .ne {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 0px;
        border-radius: rem(10);
        transition: 0.5s;
        .ne-d{
            width: rem(160);
            height: rem(100);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 200px;
            padding: rem(10);
            border-radius: rem(10);
            box-shadow: 0 2px 2px #00000020;
            background-color: #00000080;
            background-blend-mode: multiply;
            margin: 5px 10px;
         
           &.ne1 {background-image: url('../../access/img/ne1.svg');}
           &.ne2 {background-image: url('https://www.aljazeera.net/wp-content/uploads/2023/03/8561.jpg');}
           &.ne3 {background-image: url('../../access/img/ne2.svg');}
           &.ne4 {background-image: url('../../access/img/ne3.svg');}
            
            &-txt{
                color: #000000;
                
            }
        
        }
    
        
       
    }}
}



.wed-s:hover{
    .wed-scod{background-color: #00000080;}
}
.wed-home:hover{
    .wed-home-i{background-color: #00000080;}
    
}
.fi:hover{
    background-color: #ffffff;

    .fi-d-txt{
    color: #000000;        
    }
}
.ne:hover{
    background-color: #ffffff;
    .ne-txt{
        color: #000;
    }
}