*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(#cfcfcf,#fff) ;
    min-height: 100vh;
}
@import '_header';
@import '_section';