@import '_view';
@import '_und';
@import '_nav';
body{
    position: relative;
    background-color: #d4d4d4;
    font-family: Segoe UI Historic,Segoe UI,Helvetica,Arial,sans-serif;;
    &::before{
        content: '';
        display: block;
        height: 80px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
  }
  .txtab{
    background-color: orange;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 3px 8px #000000b0;
  }