<nav class="nav">
    <img src="./asset/img/fikralogo.png" alt="" class="logo">
    <a href="" class="item"><i class="ri-home-2-fill"></i> home              </a>
    <a href="" class="item"><i class="ri-user-add-fill"></i> singin       </a>         
    <a href="" class="item"><i class="ri-login-box-fill"></i> login       </a>          
    <a href="" class="item"><i class="ri-information-fill"></i> aboutus       </a>               
    <a href="" class="item"><i class="ri-headphone-fill"></i> contactus       </a>                     
    <a href="" class="item"><input type="text" name="search" class="int"> <i class="ri-search-line"></i></li>
    <span class="mm" onclick="openNav()">&#9776; menu</span>
</nav>
<!--navwf-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href=""> home </a>
    <a href=""> singin</a>
    <a href="">login</a>
    <a href=""> aboutus</a>
    <a href=""> contactus </a>
  </div>