nav, .nav {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 3px 8px #0000000b;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    @media only screen and (max-width:1194px) {
        display: grid;
        justify-content: center;
        width: 100%;
        }

    &-l{
        flex:25% 0 0;
        max-width: 360px;
        @media only screen and (max-width:1194px) {
        display: none;
        }
    }
    &-m{
        
        flex:50% 0 0;
        max-width: 680px;
    }
    &-r{

        flex:25% 0 0;
        max-width: 360px;
    }
.inputbox{
     justify-content: space-around;
    align-items: center;
    label{width: 100%;} 
    input{
            border: none;
            height: rem(40);
            border-radius: rem(20);
            padding: rem(20);
            background-color: #fafafa;
            width: inherit;
            font-size: rem(15);
            gap:10px;
        }
}
.technonewslogo{
    justify-content: space-around;
    align-items: center;
    
    
}
.ti{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:25px;
    .active{
        color: white;
        background-color: $aic;
    }
    :hover{
        background-color: #f9f9f9;
        color: #000;
        
    }
    &-si{
        background-color: $ibc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
        
        
    }
    
}
}
