.parts{
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 10px;
    @media only screen and (max-width:1194px) {
        justify-content: center;
        width: 100%;
        padding: 0;
        }

    &-l{
    flex: 10% 0 0;
    max-width: 360px;
    border-radius: 15px;
    max-height: 210px;
    @media only screen and (max-width:1194px) {
        display: none;
      }




    }
    &-m{
    flex: 65% 0 0;
    background-color: #ffffff;
    max-width: 680px;
    border-radius: 15px;
    @media only screen and (max-width:1194px) {
        justify-content: center;
        width: 100%;
        flex: 100% 0 0;
        }
    }
    &-r{
    flex: 25% 0 0;
    background-color: #ffffff;
    max-width: 360px;
    border-radius: 15px;
    max-height: 360px;

    @media only screen and (max-width:1194px) {
        display: none;
        flex: 0% 0 0;
      }
    }





}