.parts{
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 10px;
    @media only screen and (max-width:1194px) {
        justify-content: center;
        width: 100%;
        padding: 0;
        }

    &-l{
      display: none;
    }
    &-m{
    flex: 99% 0 0;
    //background-color: #ffffff;
    background-color: #353535;
    box-shadow: 0 0px 10px #353535;
    padding: 40px;
    max-width: 90vw;
    border-radius: 15px;
    @media only screen and (max-width:1194px) {
        justify-content: center;
        width: 100%;
        flex: 100% 0 0;
        }
    @media only screen and (max-width:747px) {
      max-width: 100vw;
      padding: 20px;
        }
    }
    
    &-r{
      display: none;
    }
}
    




