
.wed-home {
        background-image: url('../../access/img/wedhome.svg');
        width: 90%;
        height: 330px;
        min-height: rem(100);
        max-height: rem(402);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
        padding: rem(10);
        margin: 10px 0;
        transition: 0.5s;
        border-radius: rem(10) ;
        //box-shadow: 0 2px 2px #00021020;
        box-shadow: 0 3px 8px #ffffff;
        background-color: #00000080;
        background-blend-mode: multiply;
        border: 1px solid #fff;
        &-txt{
            color: rgb(255, 255, 255);
            font-size: 0.8rem;
            font-weight: 500;
            text-shadow: 1px 1px 1px #0000008b;
        }
        @media only screen and (max-width:$ta2) {
        min-height: rem(50);
        max-width: rem(402);
                 }
}

.wed{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    @media only screen and (max-width:$ta2) {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
         }
    
       



    .wed-scod{
        width: rem(100);
        height: rem(100);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
        padding: rem(10);
        margin: 10px 0;
        border-radius: rem(10) ;
        //box-shadow: 0 2px 2px #00021020;
        box-shadow: 0 3px 8px #ffffff;
        background-color: #00000080;
        transition: 0.5s;
        background-blend-mode: multiply;
            &.wed-scod1 {background-image: url('../../access/img/wed1.svg');}
            &.wed-scod2 {background-image: url('../../access/img/wed2.svg');}
            &.wed-scod3 {background-image: url('../../access/img/wed3.svg');}
            &.wed-scod4 {background-image: url('../../access/img/wed4.svg');}
            &.wed-scod5 {background-image: url('../../access/img/wed5.svg');}
            &.wed-scod6 {background-image: url('../../access/img/wed6.svg');}
            @media only screen and (max-width:$ta2) {
            height: rem(200);
            width: rem(200);
                         }
        
       

        &-txt{
            color: #fff;
            font-size: 1rem;
            font-weight: 500;
            text-shadow: 1px 1px 1px #0000008b;
        }
    }
}
.cad{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    .wed-cod{
        background-image: url('../../access/img/wedcod.svg');
        width: rem(100);
        height: rem(100);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
        padding: rem(10);
        margin: 10px 0;
        border-radius: rem(10);
        box-shadow: 0 2px 2px #00000020;
        background-color: #00000080;
        background-blend-mode: multiply;
        margin: 5px 10px;
        
        &-txt {
            color: #ffffff;
            font-size: 1rem;
            font-weight: 500;
           // text-shadow: 1px 1px 1px #0000008b;
        }
    }
}
.titl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
    font-size: 2rem
}
.fid{
    .fi{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 0px;
        border-radius: rem(10);
        margin: 10px;
        transition: 0.5s;
        .fi-d {
            width: rem(100);
            height: rem(100);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 200px;
            padding: rem(10);
            border-radius: rem(10);
            box-shadow: 0 2px 2px #00000020;
           background-color: #00000080;
           background-blend-mode: multiply;
           margin: 5px 10px;
           
           
            
            &-txt{
                color: #fff;
                
            }
            &.fi1 {background-image: url('../../access/img/fi1.svg');}
            &.fi2 {background-image: url('../../access/img/fi2.svg');}
            &.fi3 {background-image: url('../../access/img/fi3.svg');}
            &.fi4 {background-image: url('../../access/img/fi4.svg');}
            &.fi5 {background-image: url('../../access/img/fi5.svg');}
        }
        
       
    
    }
}
.nes{
    .ne {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 0px;
        border-radius: rem(10);
        transition: 0.5s;
        .ne-d{
            width: rem(100);
            height: rem(100);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 200px;
            padding: rem(10);
            border-radius: rem(10);
            box-shadow: 0 2px 2px #00000020;
            background-color: #00000080;
            background-blend-mode: multiply;
            margin: 5px 10px;
         
           &.ne1 {background-image: url('../../access/img/ne1.svg');}
           &.ne2 {background-image: url('../../access/img/ne2.svg');}
           &.ne3 {background-image: url('../../access/img/ne3.svg');}
            
            &-txt{
                color: #000000;
                
            }
        
        }
    
        
       
    }
}



.wed-scod:hover{
    width: rem(120);
    height: rem(120);
    @media screen and (max-width:697px) {

    width: rem(220);
    height: rem(220);
    }
}
.wed-home:hover{
    width: 99%;
    height: 350px;
}
.fi:hover{
    background-color: #ffffff;

    .fi-d-txt{
    color: #000000;        
    }
}
.ne:hover{
    background-color: #ffffff;
    .ne-txt{
        color: #000;
    }
}