* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: #239ec7;
}

.Promrovideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#content_container {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#form_container {
  position: relative;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

#form_container h2 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: #239ec7;
  margin-bottom: 10px;
}

#form_container #form_content_inner_container {
  position: relative;
}

#form_container #form_header_container {
  background-color: #fff;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
}

#form_container #form_content_container {
  padding: 20px;
}

#form_container #form_content_inner_container input {
  position: relative;
  width: 100%;
  padding: 15px 20px;
  outline: none;
  font-size: 1.25em;
  color: #239ec7;
  border-radius: 5px;
  background: #fff;
  border: none;
  margin-bottom: 30px;
}

#form_container #form_content_inner_container ::-moz-placeholder {
  color: #5e76ff;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#form_container #form_content_inner_container ::placeholder {
  color: #5e76ff;
  transition: 0.5s;
}

#form_container #form_content_inner_container input#full_name:hover, #form_container #form_content_inner_container input#ProjectCatgory:hover, #form_container #form_content_inner_container input#email:hover, #form_container #form_content_inner_container input#ProjectName:hover, #form_container #form_content_inner_container input#PrjPro:hover, #form_container #form_content_inner_container input#age:hover, #form_container #form_content_inner_container input#PhoneNumber:hover {
  color: #ce0067;
  border-bottom: 3px solid #ce0067;
}

#form_container #form_content_inner_container input#full_name, #form_container #form_content_inner_container input#ProjectCatgory, #form_container #form_content_inner_container input#email, #form_container #form_content_inner_container input#ProjectName, #form_container #form_content_inner_container input#PrjPro, #form_container #form_content_inner_container input#age, #form_container #form_content_inner_container input#PhoneNumber {
  border-bottom: 3px solid #239ec7;
  transition: 0.5s;
}

#form_container #form_content_inner_container:hover ::-moz-placeholder {
  color: #ce0067;
}

#form_container #form_content_inner_container:hover ::placeholder {
  color: #ce0067;
}

#form_container #form_content_inner_container button, #form_container #form_content_inner_container select {
  position: relative;
  border: none;
  outline: none;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 30px;
  background: #239ec7;
  color: #fff;
  cursor: pointer;
  font-size: 1.25em;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.5s;
}

#form_container #form_content_inner_container #holder {
  position: relative;
  display: none;
  border: none;
  outline: none;
  margin-bottom: 30px;
  padding: 15px 20px;
  width: 100%;
  background: #ce0067;
  color: #fff;
  font-size: 1.25em;
  border-radius: 4px;
  font-weight: 500;
  transition: 0.5s;
}

#form_container #form_content_inner_container button:hover, #form_container #form_content_inner_container select:hover {
  background: #ce0067;
  color: #fff;
}

#form_container .gop {
  display: flex;
  justify-content: space-between;
}

#form_container .gop a {
  font-size: 1.25em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
}

#form_container .gop a:hover {
  color: #ce0067;
}/*# sourceMappingURL=style.css.map */