*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background: #239ec7ff;
}
#content_container{
  position: relative;
  background: url('https://raw.githubusercontent.com/technologysir/technologysir.github.io/48854f322e39a9c6b5f574884de7a5769d2e5549/FIKRA_TECH/img/bg.svg'); 
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#form_container{
  position: relative;
  padding: 20px;
  background: rgba(255, 255, 255,0.25);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255,0.5);
  border-right: 1px solid rgba(255, 255, 255,0.5);
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}
#form_container h2{
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: #239ec7ff;
  margin-bottom: 10px;
}
#form_container #form_content_inner_container{
  position: relative;
}
#form_container #form_content_inner_container input{
  position: relative;
  width: 100%;
  padding: 15px 20px;
  outline: none;
  font-size: 1.25em;
  color: #239ec7ff;
  border-radius: 5px;
  background: #fff;
  border: none;
  margin-bottom: 30px;
}
#form_container #form_content_inner_container ::placeholder{
  color: #5e76ff;
  transition: 0.5s;
}
#form_container #form_content_inner_container input#full_name:hover,#form_container #form_content_inner_container input#ProjectCatgory:hover,#form_container #form_content_inner_container input#email:hover,#form_container #form_content_inner_container input#ProjectName:hover{
  color: #ce0067ff;
  border-bottom:3px solid #ce0067ff;
}
#form_container #form_content_inner_container input#full_name,#form_container #form_content_inner_container input#ProjectCatgory,#form_container #form_content_inner_container input#email,#form_container #form_content_inner_container input#ProjectName{
  border-bottom:3px solid #239ec7ff;
  transition: 0.5s;
}
#form_container #form_content_inner_container:hover ::placeholder{
  color: #ce0067ff;
}
#form_container #form_content_inner_container button{
  position: relative;
  border: none;
  outline: none;
  padding: 15px 20px;
  width: 100%;
  background: #239ec7ff;
  color: #fff;
  cursor: pointer;
  font-size: 1.25em;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.5s;
}
#form_container #form_content_inner_container button:hover{
  background: #ce0067ff;
  color: #fff;
}
#form_container .gop{
  display: flex;
  justify-content: space-between;
}
#form_container .gop a{
  font-size: 1.25em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  
}
#form_container .gop a:hover{
  color: #ce0067ff;
}