<nav class="nav">
    <img src="./asset/img/fikralogo.png" alt="" class="logo">
    <li class="item"><img src="./asset/img/home.png" alt="" class="item-img"> home</li>
    <li class="item"><img src="./asset/img/singin.png" alt="" class="item-img"> singin</li>
    <li class="item"><img src="./asset/img/login.png" alt="" class="item-img"> login</li>
    <li class="item"><img src="./asset/img/aboutus.png" alt="" class="item-img"> aboutus</li>
    <li class="item"><img src="./asset/img/contact.png" alt="" class="item-img"> contactus</li>
    <li class="item"><img src="./asset/img/search.png" alt="" class="item-img"><input type="text" name="search" class="int"> </li>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; menu</span>
</nav>
<!--navwf-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href=""><li><img src="./asset/img/home.png" alt="" class="item-img"> home</li>          </a>
    <a href=""><li><img src="./asset/img/singin.png" alt="" class="item-img"> singin</li></a>
    <a href=""><li><img src="./asset/img/login.png" alt="" class="item-img"> login</li></a>
    <a href=""><li><img src="./asset/img/aboutus.png" alt="" class="item-img"> aboutus</li></a>
    <a href=""><li><img src="./asset/img/contact.png" alt="" class="item-img"> contactus</li></a>
  </div>