<nav class="nav">
    <img src="./asset/img/fikralogo.png" alt="" class="logo">
    <li class="item"><h2 class="ri-home-6-line"></h2> home</li>
    <li class="item"><h2 style="background-color: #ffffff00;"></h2> singin</li>
    <li class="item"><h2 style="background-color: #ffffff00;"></h2> login</li>
    <li class="item"><h2 style="background-color: #ffffff00;"></h2> aboutus</li>
    <li class="item"><h2 style="background-color: #ffffff00;"></h2> contactus</li>
    <li class="item"><h2 style="background-color: #ffffff00;"></h2><input type="text" name="search" class="int"> </li>
    <span style="font-size:30px;cursor:pointer; background-color: #fff;" onclick="openNav()">&#9776; menu</span>
</nav>
<!--navwf-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href=""><li> home</li>          </a>
    <a href=""><li> singin</li></a>
    <a href=""><li>login</li></a>
    <a href=""><li> aboutus</li></a>
    <a href=""><li> contactus</li></a>
  </div>