<div class="sers">
<div class="ser">
    <img src="./asset/img/no-money.png" alt="" class="sei">
    <h1 class="tli">مؤسسة غير ربحية</h1>
    <p class="sed">
        نهدف الى نشر الوعي التقني
    </p>
  </div>
  <div class="ser">
    <img src="./asset/img/technology.png" alt="" class="sei">
    <h1 class="tli">تعليم التنولوجيا</h1>
    <p class="sed">
        تعليم الناشئة على مبادئ الإعلام الالي والربوتيك
    </p>
  </div>
  <div class="ser">
    <img src="./asset/img/all-agree.png" alt="" class="sei">
    <h1 class="tli">التيكنولوجيا للجميغ</h1>
    <p class="sed">
        من حق اي انسان مواكبة التطور وتعلم التكنولوجيا لانها المستقبل
    </p>
  </div>

</div>