<img src="./access/img/pngegg.png" alt="" style="position: fixed;top: 0;z-index: -10; height: 100vh; width: 100%;">
<nav>
<div class="nav-l">
    <div class="inputbox">
       <label for="searchboxinput">

   <input type="search" id="searchboxinput" placeholder="عن ماذا تبحث؟"></label></div>
   </div>


   <div class="nav-m">
   <div class="tecnonewslogo">
       <img src="./auther pages/img/logo.svg" alt="" width="300" height="50">
   </div>
   </div>



   <div class="nav-r">
   <div class="ti">
    <a href="index.html"><div class="ti-si"><i class="ri-home-6-line"></i><h6>home</h6></div></a>
        <a href="blogs.html"><div class="ti-si"><i class="ri-profile-line"></i><h6>blogs</h6></div></a>
        <a href="news.html"><div class="ti-si active"><i class="ri-global-line"></i><h6>news</h6></div></a>
        <a href="videos.html"><div class="ti-si"><i class="ri-video-line"></i><h6>video</h6></div></a>
 
   </div>
   </div>


</nav>