<nav>
    <div class="nav-l">
        <div class="inputbox">
           <label for="searchboxinput">
    
       <input type="search" id="searchboxinput" placeholder="عن ماذا تبحث؟"></label></div>
       </div>
    
    
       <div class="nav-m">
       <div class="tecnonewslogo">
           <img src="./auther pages/img/logo.svg" alt="" width="300" height="50">
       </div>
       </div>
    
    
    
       <div class="nav-r">
       <div class="ti">
        <a href="index.html"> <div class="ti-si"><i class="ri-home-6-line"></i></div> </a>
        <a href="blogs.html">   <div class="ti-si"><i class="ri-profile-line"></i></div>      </a>
        <a href="news.html">   <div class="ti-si"><i class="ri-global-line"></i></div></a>
       </div>
       </div>
    
    
    </nav>