<div class="tem">
</br>
<h2>النوع:</h2>
<h2>بقلم:</h2>
<h2>بعنوان:</h2>

</br>
</div>
<div class="titlete">قالب</div>
<img src="./access/img/r.jpg" alt="" class="img">
<div class="textlog"><p dir="rtl">
    التكنوقراطية (بالإنجليزية: Technocracy)‏ هي نظامٌ مقترحٌ للحكم يتمَُ فيه اختيار صانعي القرار على أساس خبرتهم في مجالٍ معينٍ خاصةً فيما يتعلق بالمعرفة العلمية أو التقنية. يتناقض هذا النظام بشكلٍ واضحٍ مع فكرة أن الممثلين المُنتَخبين يجب أن يكونوا صُنَّاع القرار الرئيسيين في الحكومة، على الرغمِ من أنه لا يعني بالضرورة حذف الممثلين المنتخبين بل إن الأمر يعتمدُ بالأساس على المعرفة والأداء بدلًا من الانتماءات السياسية أو ما يُعرف بـ «المهارات البرلمانية» كما هو معمولٌ به في النظام الديموقراطي.

تمَّ استخدام مصطلح تكنوقراط في الأصل للدفاع عن تطبيق المنهج العلمي في حلِّ المشكلات الاجتماعية. يقومُ هذا النظام على التركيزِ على تطوير الدولة في قطاعٍ أو قطاعات معيّنة بدلاً مما يُعرف بـ «الربحية النقدية» وذلكَ لضمانِ استمرار تشغيل جميع الوظائف. عادةً ما تُركّز الحكومات التكنوقراطية على حلّ المشاكل التقنية أو الهندسية وغالبًا ما تكونُ افتراضية. في الاستخدام العملي؛ تُعتبر التكنوقراطية جزءًا من البيروقراطية التي يُديرها تقنيون كما يمكن اعتبار الحكومة التي يُعيِّنُ فيها المسؤولون المنتخبون خُبراء ومهنيين لإدارة الوظائف الحكومية الفردية والتوصية بالتشريع تكنوقراطية. يُشير مفهوم التكنوقراطية أيضًا إلى شكلٍ من أشكال الجدارة؛ حيث يتولى القادرون المسؤولية ظاهريًا دون تأثير جماعات المصالح الخاصة.
</p></div>