body, * {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f7f4f4;
  direction: rtl;
}
body::before, *::before {
  content: "";
  display: block;
}

.hero {
  margin-top: auto;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
}
@media screen and (max-width: 660px) {
  .nav {
    justify-content: space-around;
    align-items: center;
  }
}
.nav .logo {
  height: 50px;
  margin: 10px;
  margin-left: 5%;
  right: 0;
}
.nav li {
  background-color: #fff;
  padding: 5px;
  text-align: center;
  justify-items: center;
  list-style: none;
  width: 200px;
  height: auto;
  margin: 10px;
  border-radius: 50px;
}
@media screen and (max-width: 660px) {
  .nav li {
    display: none;
  }
}
.nav li .int {
  width: 130px;
  height: 100%;
  border-radius: 50px;
  border: 1px solid;
}
.nav li .item-img {
  background-color: #fff;
  width: 40px;
  margin-left: 6px;
}

li:hover {
  background-color: #0b5394;
  color: #fff;
}
li:hover .item-img {
  background-color: #0b5394;
  color: #fff;
}

.sldco {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.ooo {
  height: 5px;
  width: 25px;
  margin: 0 2px;
  background-color: #0b5394;
  border-radius: 25%;
  display: inline-block;
  margin-bottom: 20px;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #ce0067;
}

.td {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes td {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.dfs {
  background-color: #fff;
  width: 70%;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6980392157);
  margin: 20px;
}
.dfs .dsf {
  width: 10%;
  margin: 20px;
}
.dfs .sdf {
  background-color: #fff;
  margin: 20px;
}
.dfs .fds {
  background-color: #fff;
  margin: 20px;
}

.sers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
}
@media screen and (max-width: 660px) {
  .sers {
    display: grid;
  }
}
.sers .ser {
  background-color: #fff;
  width: 30%;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6980392157);
}
@media screen and (max-width: 660px) {
  .sers .ser {
    width: 90%;
  }
}
.sers .ser .sei {
  background-color: #fff;
  width: 60%;
  margin: 10px;
}
.sers .ser .tli {
  background-color: #fff;
  margin: 10px;
}
.sers .ser .sed {
  background-color: #fff;
  margin: 10px;
}

footer {
  background-color: #ffffff;
  margin-top: 30px;
  width: 100%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6980392157);
}
footer h1 {
  font: 2em;
  background-color: #ffffff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  background-color: rgba(11, 83, 148, 0.7137254902);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 200px;
  color: #000000;
  text-align: center;
  list-style: none;
}
.sidenav a:hover {
  background-color: rgba(206, 0, 103, 0.7058823529);
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  background-color: rgba(206, 0, 103, 0);
}
.sidenav .sidenav a:hover {
  color: #ce0067;
}
.sidenav .item-v {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
}
@media screen and (max-height: 450px) {
  .sidenav .sidenav {
    padding-top: 15px;
  }
  .sidenav .sidenav a {
    font-size: 18px;
  }
}

.sidenav .closebtn {
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 100px;
  color: #fff;
}

a {
  text-decoration: none;
}

.mm {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background-color: #fff;
}
@media screen and (max-width: 660px) {
  .mm {
    display: block;
  }
}

.fv {
  margin: 20px;
  background-color: #fff;
  width: 90%;
}/*# sourceMappingURL=style.css.map */